.task {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black;
    border-radius: 5px;
}

.projForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.project:hover {
    background-color: rgb(240, 236, 236);
}